<h3 class="text-center text-blue">Looking for I.T Professionals? Here are some of the best.</h3>
<section class="candidate-slide">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../../static/img/" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="name">Duncan Muturi.</span>
                            <span class="job-title">Software Developer</span>
                        </div>
                    </div>
                    
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../../static/img/" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="name">Duncan Muturi.</span>
                            <span class="job-title">Software Developer</span>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../../static/img/" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="name">Duncan Muturi.</span>
                            <span class="job-title">Software Developer</span>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../../static/img/" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="name">Duncan Muturi.</span>
                            <span class="job-title">Software Developer</span>
                        </div>
                    </div>
                    
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../../static/img/'" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="name">Duncan Muturi.</span>
                            <span class="job-title">Software Developer</span>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../../static/img/'" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="name">Duncan Muturi.</span>
                            <span class="job-title">Software Developer</span>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../../static/img/" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="name">Duncan Muturi.</span>
                            <span class="job-title">Software Developer</span>
                        </div>
                    </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

</section>
