<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-title-box">
                    <h3 class="text-blue text-center">
                        Featured Jobs on Digital Age Hustler
                    </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="featured-filter-box">
                    <div class="featured-filter-box-wrapper">
                        <div class="featured-filter-box-title">
                            <span class="text-gray1">Filter Search</span>
                        </div>
                        <div class="featured-filter-form-container">
                            <div class="filter-form">
                                <form action="javascript:void(0);" method="POST">
                                    <select id="search_category" name="search_category" class="form-select mb-3">
                                        <option>Job Type</option>
                                        {% for jobtype in jobtypes %}
                                        <option value="{{ jobtype[0] }}">{{ jobtype[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <select id="search_salary" name="search_salary" class="form-select mb-3">
                                        <option>Salary Range</option>
                                        {% for salaryrange in salaryranges %}
                                        <option value="{{ salaryrange[0] }}">
                                            {{ salaryrange[1] }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    
                                    <select id="search_location" name="search_location" class="form-select msb-3">
                                        <option>Select Location</option>
                                        {% for location in locations %}
                                        <option value="{{ location[0] }}">{{ location[0] }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn form-control mt-2" id="btn-filter"><li class="fas fa-search"><span class="ms-2">Filter</span></li></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-md-9" id="filtered">
                <div class="featured-result-box">
                    <div class="featured-result-box-wrapper">
                        {% for job in postedjobs %}
                        <div class="job_item">
                            <a class="featured-result-item mb-3" href="#">
                                <div class="company-logo-area">
                                    <div class="company-logo">
                                        <img src="../../static/company_logos/{{job[1]}}" alt="" class="company-logo-img">
                                    </div>
                                </div>
                                <div class="job-details-area">
                                    <span class="job-details-upload-time">1hr Ago</span>
                                    <div class="job-details-title text-blue2">
                                        <span>{{ job[2] }}</span>
                                    </div>
                                    <div class="job-details-company-name text-blue3">
                                        <span>{{ job[0] }}</span>
                                    </div>
                                    <div class="job-details-type">
                                        <span>{{ job[3] }}</span>
                                    </div>
                                    <div class="job-details-location">
                                        <span>{{ job[4] }}</span>
                                    </div>
                                    <div class="job-details-skill-list">
                                        <p>{{ job[5] }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="featured-result-pagination text-center" id="paginate">
                        <button id="prev-page">Previous</button>
                        <button id="curr"></button>
                        <button id="next-page">Next</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap 5 JS Bundle (Popper.js included) -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
