<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/auth-forms.css">
    <link rel="stylesheet" href="../../static/css/hero-1.css">
    <link rel="stylesheet" href="../../static/css/hero-2.css">
    <link rel="stylesheet" href="../../static/css/hero-3.css">
    <link rel="stylesheet" href="../../static/css/slider.css">
    <link rel="stylesheet" href="../../static/css/search-sections.css">
    <link rel="stylesheet" href="../../static/css/trending-categories.css">
    <link rel="stylesheet" href="../../static/css/featured-jobs.css">
    <link rel="stylesheet" href="../../static/css/featured-talent.css">
    <link rel="stylesheet" href="../../static/css/partners.css">
    <link rel="stylesheet" href="../../static/css/subscribe.css">
    <link rel="stylesheet" href="../../static/css/pre-footer.css">
    <title>Document</title>
</head>
    <body>
