<section class="hero">
    <div class="hero-left">
        <div class="hero-heading text-start">
            Make Your Next <span class="text-yellow">Hire Fast</span> With Access to <span class="text-yellow">Rated I.T</span> Professional Profiles
        </div>
        <div class="hero-text text-start">
            Post jobs and set target audience with I.T skills needed and your listings will appear to your matches only
        </div>
        <a class="btn btn-yellow" href="/find-talent">Find Talent</a>
    </div>
    <div class="hero-right">
        <div class="hero-heading text-end">
            Discover a new way <span class="text-yellow"> to get your dream I.T</span> Professional <span class="text-yellow">Job</span> in one Place
        </div>
        <div class="text-end hero-text">
            Get started by signing-up to get access to the best I.T job posts for a chance to get your dream job.
        </div>
        <a class="btn btn-yellow" href="/find-jobs">Find Jobs</a>
    </div>
</section>
