<section>
    <div class="search-container">
        <div class="search-wrapper">
            <div class="search-title-box">
                <p class="text-white">Looking for a Job? Begin Here.</p>
            </div>
            <div class="search-box">
                <form action="" method="POST">
                    
                    <input class="search-field search-job-title" col="50" type="text" name="job_title" placeholder="Job Title e.g: Web Developer">
                    <select name="location" class="search-field select-search-location">
                        <option>Select Location</option>
                        {% for location in locations %}
                        <option value="{{ location['id'] }}">{{ location['name'] }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-blue1">
                        <span class="search-icon">Search</span>

                    </button>
                </form>
            </div>
        </div>
    </div>

</section>
